[Desktop Entry]
Exec=/usr/local/jsh/jsh guifyscript extract_clips_from_video
InitialPreference=4
MimeType=video/mpeg;video/quicktime;video/x-flic;video/x-msvideo;video/x-ms-asf;Application
Name=Extract clips from video
Terminal=false
Type=Application
