## We could get rid of this file by passing -o options to zsh in jsh
set show-all-if-ambiguous on
# set print-completions-horizontally on
# set bell-style none
set bell-style visual

## Moved to bashkeys.sh
# "\C-d" backward-word
# "\C-f" forward-word
# "\C-r" vi-prev-word
# "\C-t" vi-next-word
# # Dammit these already are small deletes!
# "\C-x" backward-kill-word
# "\C-v" kill-word
# # As with zsh, we fake small deletes
# "\C-b" "\C-f \C-x"
# "\C-z" "\C-d \C-v"
