## Apparently in bash you can hit CTRL-X CTRL-R to reload the inputrc without restarting the shell

## We could get rid of this file by passing -o options to zsh in jsh
set show-all-if-ambiguous on
# set print-completions-horizontally on
# set bell-style none
set bell-style visual

## Moved to bashkeys.sh
# "\C-d" backward-word
# "\C-f" forward-word
# "\C-r" vi-prev-word
# "\C-t" vi-next-word
# # Dammit these already are small deletes!
# "\C-x" backward-kill-word
# "\C-v" kill-word
# # As with zsh, we fake small deletes
# "\C-b" "\C-f \C-x"
# "\C-z" "\C-d \C-v"

## PageUp/Down to search history for a line like the current
"\e[5~": history-search-backward
"\e[6~": history-search-forward

## For some reason these bindings work here, but not in bashkeys.sh
## Ctrl-Left and -Right
"\e[1;5D": backward-word
"\e[1;5C": forward-word
"\e[5D": backward-word
"\e[5C": forward-word
#"\e\e[C": forward-word
#"\e\e[D": backward-word

## Shift-Left and -Right
"\e[1;2D": backward-word
"\e[1;2C": forward-word
"\e[2D": backward-word
"\e[2C": forward-word

## Ctrl-Shift-Left and -Right
"\e[1;6D": backward-word
"\e[1;6C": forward-word
"\e[6D": backward-word
"\e[6C": forward-word
