## Apply changes and test with:
##   cat .Xresources | grep -v "^#" | xrdb -merge
## For testing BD/UL: man xrdb ; top n 3

xterm.vt100.font: -b&h-lucidatypewriter-medium-r-normal-*-*-80-*-*-m-*-iso8859-1
xterm*background: #000000
xterm*foreground: #ffffff
xterm*cursorColor: #ffdd44
xterm*pointerColor: #ffee99

## For coloured man-pages:
## From: http://bugs.gentoo.org/184604
## (see /usr/share/X11/app-defaults/XTerm-color)
# *colorBDMode: on
# *colorULMode: on
## *colorBD: red
## *colorUL: green
# *colorBD: darkblue
# *colorUL: darkmagenta
# *colorBD: brown
# *colorUL: darkmagenta
# *colorBD: yellow
*colorBD: blue
# *colorUL: darkgreen
# *colorUL: darkcyan
*colorUL: brown

## The problem is, it happens on white-on-black xterms also, overriding curses colors!
## Solution: Turn it off for terminals in general!
## The jman script uses xrdb -merge to enable/disable these options when I want them at runtime.
*colorBDMode: off
*colorULMode: off

nedit*text.foreground: white
nedit*text.background: black
nedit*text.selectForeground: white
nedit*text.selectBackground: magenta
nedit*text.highlightForeground: white
nedit*text.highlightBackground: red
nedit*text.cursorForeground: white

nedit*menuBar.fontList: -b&h-lucidatypewriter-medium-r-normal-*-*-100-*-*-m-*-iso8859-1

