/* Get more inspiration from here:
   https://github.com/mbnuqw/sidebery/wiki/Sidebery-Styles-Snippets
   and here
   https://github.com/mbnuqw/sidebery/blob/550758d5cce79b580e3d5329a454be51e29acc39/src/styles/themes/proton/sidebar/tab.styl
*/

/* Control how much pinned tabs column you want below, width of the pinned tabs will be automatically resized depend on it. */
#root.root {
    --pinned-tabs-col: 6;
}

/* ------------------------------------- */

/* Moving Sidebery navigation bar to bottom, to mimic how Space works on Arc Browser. Make sure to choose Horizontal when activating the navigation bar. */
/*
.top-horizontal-box {
  display: flex;
  order: 1; 
}
*/

/* ------------------------------------- */

/*




#root.root {--nav-btn-height: 25px;}
#root.root {--nav-btn-width: 25px;}
#root.root {--ntb-btn-height: 25px;}
#root.root {--tabs-close-btn-margin: 5px;}

#root.root {--nav-btn-margin: 8px;}

*/

#root.root {--tabs-pinned-width: calc( (96vw - (var(--tabs-margin)*var(--pinned-tabs-col))) / var(--pinned-tabs-col));}
#root.root {--tabs-pinned-height: calc( (96vw - (var(--tabs-margin)*var(--pinned-tabs-col))) / var(--pinned-tabs-col));}

.Tab[data-pin="true"] .body {
		/*
    border: 0px solid #D75B00;
    box-shadow: 0px 2px 1px #00000000;
    background: transparent;
    padding: -10px;
    color: #ffffff20;
    padding-left: 6px;
    padding-right: 6px;
		*/
}

[data-pin="true"] .body {
		background-color: #6664;
		background-color: #fff;
		background-color: transparent;
 		background-color: #6663;
    border-radius: 11px;
    /* Since padding didn't work, I just shrink the whole thing */
		transform: scale(0.9);
}

/* Scale the inner icon, not the outer container (which turns grey on hover) */
/* I don't know what the exact structure is, but this seems to do it */
.Tab[data-pin="true"] .body img {
    /* This is suitable when you are using a background for each pinned tab */
		/* transform: scale(calc(10/var(--pinned-tabs-col))); */
		/* This will touch the edges of the body background */
		transform: scale(calc(16/var(--pinned-tabs-col)));
		/* But I want some margin/padding, so I scale down a little */
		transform: scale(calc(12/var(--pinned-tabs-col)));
		/* Force the icon to have rounded edges. Might look bad on some icons. */
    /* border-radius: 20%; */
}

/*
.Tab .title {
    background: linear-gradient(90deg, var(--tabs-normal-fg) 70%, #f1f1f100 95%);
    background-clip: text;
    color: transparent;
}
*/

/* More additions by Joey, to make Sidebery look like Zen's tab */
/* Background */
/* Old: .Tab { background: #131313; } */
#root.root {--toolbar-bg: #1e1e1e;}
#root.root {--frame-bg: #131313;}
/* .Tab[data-discarded="false"] .title { font-weight: bold; } */
.Tab .title { font-size: 0.9rem; }

/* Active (selected) tab */
/* Can also be set by: .Tab[data-active="true"] .body */
/* #root.root {--tabs-activated-bg: #6665;} */
/* #root.root {--tabs-activated-fg: #ffffffff;} */
/* #root.root {--tabs-activated-bg: #c45d05;} */
/* #root.root {--tabs-activated-bg: #ef6f07;} */
#root.root {--tabs-activated-bg: #ff7707;}
#root.root {--tabs-activated-fg: #ffffff;}


/* Pinned tabs */
.Tab[data-pin="true"] .body {
	background: #8880 !important;
}
/* Active (selected) pinned tabs */
.Tab[data-pin="true"][data-active="true"] .body {
	background: #6667 !important;
  /* Orange, to match my theme */
/* 	background: #c45d05dd !important; */
/* 	background: radial-gradient(circle, #c45d05bb, #c45d05ff) !important; */
/* 	background: radial-gradient(circle, #c45d0544, #c45d0544, #c45d0544, #c45d0544, #c45d0544, #c45d0544, #c45d0544, #c45d05ff, #c45d05ff, #c45d05ff, #c45d05ff, #c45d05ff) !important; */
/* 	background: radial-gradient(circle, #000, #000, #000, #000, #000, #000, #000, #c45d05ff, #c45d05ff, #c45d05ff, #c45d05ff, #c45d05ff) !important; */
/* 	background: transparent !important; */
/* 	border: 1vw solid #c45d0544 !important; */
/* 	border: 1vw solid #c45d05cc !important; */
	background: #c45d0544 !important;
	border: 1vw solid #ff7707dd !important;
}

/* Discarded (unloaded) tabs: We keep the text readable, and let the faded favicons communicate that the tab is unloaded (defaults 0.56 and 0.5) */
#root.root {--tabs-discarded-title-opacity: 0.8;}
#root.root {--tabs-discarded-favicon-opacity: 0.2;}
/* .Tab .body { border-radius: 8px; } */
#root.root {--tabs-border-radius: 8px;}
/* .Tab .body { margin: 4px 0 } */
#root.root {--tabs-height: 36px;}
/* I wanted tabs-margin 5 but this causes the LHS to show too many indent lines */
/* It's also annoying that the vertical and horizontal padding are both controlled by the one variable. */
#root.root {--tabs-margin: 3px;}
/* This tends to affect the menu things above the pinned tabs */
#root.root {--general-margin: 1px;}
/* #root.root {--tabs-activated-shadow: 0 1px 4px -1px rgba(0,0,0,0.282), inset 0 0 0 1px rgba(255,255,255,0.031);} */
/* No shadow on the tab. 2D not 3D. */
#root.root {--tabs-activated-shadow: 0;}
/* Make close button visible on current tab (like Zen does) */
.Tab[data-active="true"] .close { opacity: 1 }
/* Larger close button */
.Tab .close { scale: 1.15 }
/* Slow fade background when changing tab (like Zen) */
/* .Tab .body { transition: background 250ms linear; } */
/* But I prefer it slightly faster */
.Tab .body { transition: background 100ms linear; }
