/* The page chrome://browser/content/browser.xul is useful for discovering Firefox's IDs and classnames. */
/* But that page might not apply the CSS we set below, making it difficult to preview our changes.  (It used to, but it's not doing it in 2019.) */

/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/* Re-enable min tab width=0 in Firefox-4 */
/* In about:config I set browser.tabs.tabMinWidth with some success, but that doesn't seem to work lower than 40px. */
/* Adjusting it with CSS below works for any width on Linux, but has no affect on macOS. */
/*
.tabbrowser-tab:not([pinned]) {
    min-width: 1px !important;
}
*/
/* Actually the recommended selector is: */
/*
.tabbrowser-tab[fadein]:not([pinned]) {
    min-width: 240px !important;
}
*/
/* Small tabs, just enough for favicons */
.tabbrowser-tab[fadein] {
    min-width: 32px !important;
}
/*
:root {
    --tab-min-width: 32px !important;
}
*/
/* Centralise the favicon on the small tabs */
.tabbrowser-tab[fadein]:not([selected]) .tab-content {
    /* This looks bad for large tabs! */
    /* padding: 0 0px 0 7px !important; */
    /* So instead we put margins on the elements inside the content */
    padding: 0 !important;
}
.tabbrowser-tab[fadein]:not([selected]) .tab-icon-image {
    margin-left: 7px !important;
}
.tabbrowser-tab[fadein]:not([selected]) .tab-close-button {
    margin-right: 7px !important;
}
/* Make the selected tab wide, so we can read its title */
.tabbrowser-tab[fadein]:not([pinned])[selected] {
    min-width: 220px !important;
    /* The max-width is applied when there are few tabs, but as soon as they start scrolling, they shrink. */
    max-width: 300px !important;
    width: auto !important;
}

/* Tab top border roundness */
#TabsToolbar .tabbrowser-tab[selected],
#TabsToolbar .tabbrowser-tab[selected] .tab-stack,
#TabsToolbar .tabbrowser-tab[selected] .tab-background,
#TabsToolbar .tabbrowser-tab[selected] .tab-content {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
#TabsToolbar .tabbrowser-tab {
    /* Remove the black border on either side of the selected tab */
    --tabs-border-color: #0000 !important;
    border: none !important;
}
/* The roundness looks better if there is a little gap above it */
#TabsToolbar .tabbrowser-tab .tab-stack {
    margin-top: 2px !important;
}
/* Add a shadow to the left and right of the selected tab */
#TabsToolbar .tabbrowser-tab[selected] .tab-stack {
    /* box-shadow: 0 4px 8px #0006 !important; */
    box-shadow: 0 2px 4px #0006 !important;
    /* Push the nearby tabs aside a bit, so they don't appear in the shadow */
    /* margin-left: 2px !important; */
    /* margin-right: 2px !important; */
}

/* The line that runs along the bottom of unselected tabs */
/* It used to be dark, we can can make it light to look raised */
:root {
    --tabs-navbar-shadow-size: 0.5px !important;
}
#navigator-toolbox {
    --tabs-border-color: #fff7 !important;
}
/*
#nav-bar:not([tabs-hidden="true"]) {
    box-shadow: 0 calc(-1 * var(--tabs-navbar-shadow-size)) 0 var(--tabs-border-color);
}
*/
/* Unfortunately the selected tab's shadow overlaps the navbar-shadow above. */
/* We could try to draw the line this way instead, but this gets overlapped by tab separators! */
/*
#TabsToolbar .tabbrowser-tab:not([selected]) .tab-stack {
    border-bottom: 1px solid #fff8;
}
*/
/* The selected tab's border should match the --tabs-border-color, */
/* although it may need different alpha due to different background. */
#TabsToolbar .tabbrowser-tab[selected] .tab-content {
    /* border: 1px solid #fff4 !important; */
    /* border-top: 1px solid #fff7 !important; */
    border: 2px solid #fff4 !important;
    border-top: 2px solid #fff7 !important;
    border-bottom: none !important;
}

/* Remove colored line above each tab, because it extends outside the rounded edge */
#TabsToolbar .tabbrowser-tab .tab-line {
    visibility: hidden;
    /*
    position: absolute;
    top: 4px;
    left: 5px;
    right: 5px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    */
}
/* Give the selected tab some more horizontal whitespace */
#TabsToolbar .tabbrowser-tab[selected] .tab-stack .tab-content {
    padding-left: 12px !important;
    padding-right: 12px !important;
}
/* And give all the tabs some more vertical whitespace */
.tab-content {
    min-height: 36px !important;
}
.tab-label-container {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

/* Make the location bar rounded */
#urlbar {
    border-radius: 999px !important;
}

/* Make the location bar background look 3d sunken, using innner shadow */
/* Note that this overrides the external shadow the box gets when hovered: 0 1px 6px rgba(0,0,0,.1); */
#urlbar {
    /* box-shadow: inset 0 1px 4px #0005 !important; */
    /* box-shadow: inset 0 1px 8px #0000002c !important; */
    /* box-shadow: inset 0 1px 10px #00000027 !important; */
    /* box-shadow: inset 0 2px 8px #00000033 !important; */
    box-shadow: inset 0 1px 10px #0000002d !important;
}
#urlbar[focused="true"] {
    /* box-shadow: none !important; */
    border: 1px solid #0008 !important;
}

/* When hovering over the close tab icon, make it clearer */
.close-icon:hover {
    /* background: #aaa7; */
    /* background: #9996; */
    /* background: #0003; */
    background: #f33;
    /* background: rgba(12, 12, 13, 0.1); */
    /* fill: rgb(41, 47, 52); */
    color: white !important;
    border-radius: 6px;
    /* When the sound icon is showing, it touches the close button.  Let's prevent that. */
    margin-left: 4px;
}
/* and for symmetry, colour the open tab button too */
toolbar .toolbarbutton-1[command="cmd_newNavigatorTab"]:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon {
    background-color: #3b3 !important;
    color: white !important;
}

/* This surrounds the menu, tabs, location bar and bookmarks toolbar */
/*
#navigator-toolbox {
    border: 1px solid black !important;
}
*/
/* Give the toolbars a raised 3D look */
/* The selected tab itself is #fff6 */
.tabbrowser-tab[selected] .tab-background {
    /* Unfortunately if we try to modify the background with alpha, it leaks an ugly bottom line. */
    /* background: linear-gradient(#fff4 0%, #fff6 15%, #fff6 85%, #fff8 100%) !important; */
    /* We must overwrite the background completely, not with alpha. */
    /* background: linear-gradient(#e4996b 0%, #e9ad88 100%) !important; */
    /* background: linear-gradient(#de8249 0%, #e39666 100%) !important; */
    background: linear-gradient(hsl(23, 69%, 68%), hsl(23, 69%, 65%)) !important;
    /* background: linear-gradient(hsl(23, 69%, 58%) 0%, hsl(23, 69%, 58%) 50%, hsl(23, 69%, 65%) 100%) !important; */
}
#nav-bar {
    background: linear-gradient(#fff6, #fff4) !important;
    background: linear-gradient(hsl(23, 69%, 65%), hsl(23, 69%, 61%)) !important;
    /* background: linear-gradient(180deg, #fff6 0%, #fff8 5%, #fff6 100%) !important; */
}
#PersonalToolbar {
    background: linear-gradient(#fff4, #fff3) !important;
    background: linear-gradient(hsl(23, 69%, 61%), hsl(23, 69%, 58%)) !important;
}

/* Attempt to make the back button a little 3D.  Did not work well with my orange theme. */
/*
#back-button .toolbarbutton-icon {
    box-shadow: inset 0px -1px 4px #0004;
}
*/

/* Make the currently selected tab and toolbars lighter than the rest of the UI */
/* I wanted to use light grey, but to do that I would need to set the icons and text to black */
/*
.tabbrowser-tab[selected] .tab-background,
#nav-bar,
#PersonalToolbar {
    background: #eee !important;
    background: #eaaf8a !important;
}
*/

/* Light background but curved */
/*
.tabbrowser-tab[selected] .tab-background {
    background: linear-gradient(hsl(23, 70%, 77%), hsl(23, 70%, 77%)) !important;
}
#nav-bar {
    background: linear-gradient(hsl(23, 70%, 77%), hsl(23, 70%, 70%)) !important;
}
#PersonalToolbar {
    background: linear-gradient(hsl(23, 70%, 70%), hsl(23, 70%, 65%)) !important;
}
*/

/* Light background but curved */
/*
.tabbrowser-tab[selected] .tab-background {
    background: linear-gradient(hsl(23, 70%, 72%), hsl(23, 70%, 72%)) !important;
}
#nav-bar {
    padding: 4px 0 !important;
}
#PersonalToolbar {
    padding: 4px 0 !important;
}
*/

/* Make the toolbars less cramped */
#nav-bar {
    padding: 4px 1px 1px !important;
}
#PersonalToolbar {
    /* padding: 1px 1px 6px !important; */
    padding-top: 1px !important;
    padding-bottom: 6px !important;
}

/* Joey's styles for TreeStyleTabs */
/* These do make a difference, but a little opacity is still inherited, and the shadow still appears on the text (in Metal theme). */
/* This one is probably not needed. */
.treestyletab-tabbar-toolbar {
    opacity: 1.0 !important;
}
/* This is the background which is visible when it is not filled with tabs (or when tabs are indented).  It also contains the actual tab labels. */
.tabbrowser-tabs[treestyletab-mode="vertical"] {
    opacity: 1.0 !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-tab {
    opacity: 1.0 !important;
    text-shadow: 0px 0px 0px white !important;
    /* Use these for metal/sidebar themes, to close the large gaps between tabs.
    margin-top: -4px !important;
    margin-bottom: -4px !important;
    */
    /* Works but destroys the border's simple 3d effect. */
    /* For the simple theme, make tabs a little bit shorter. */
    margin-top:    -2px !important;
    margin-bottom: -2px !important;
    /* These do nothing */
    /*
    padding-top: 1px solid white !important;
    padding-bottom: 1px solid black !important;
    padding-top: -2px !important;
    padding-bottom: -2px !important;
    padding-top: 4px solid red !important;
    padding-bottom: 4px solid green !important;
    */
    /* Appears to do nothing: */
    /* background-color: #ff3300; */
}
/* Highlight the background of the current tab a bit more strongly, remove the borders since they don't work with the shrinking above. */
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-tab[selected='true'] {
    /* border-top: 1px solid red !important; */
    /* -moz-border-top-colors: ThreeDHighlight transparent !important; */
    /* -moz-border-top-colors: none; */
    -moz-border-top-colors: transparent !important;
    /* padding-top: 1px solid red !important; */
    /* background-color: rgb(96, 160, 238) !important; */
    background-color: none !important;
    background: -moz-linear-gradient(top, rgb(174,211,255), rgb(92,154,229)) repeat-x !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-tab:not([selected='true']) {
    /* border-top: 1px solid black !important; */
    /* -moz-border-top-colors: ThreeDHighlight transparent !important; */
    -moz-border-top-colors: transparent !important;
    /* padding-top: 1px solid black !important; */
    /* background-color: none !important; */
    background: -moz-linear-gradient(top,  #dddddd,  #bbbbbb) repeat-x !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-tab[selected='true']:hover {
    -moz-border-top-colors: !important;
}
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-tab:not([selected='true']):hover {
    -moz-border-top-colors: !important;
}
/* Set the favicon's background too */
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-tab[selected='true'] * {
    /* background-color: rgb(96, 160, 238) !important; */
    background-color: transparent !important;
    /* background: -moz-linear-gradient(top,  rgb(106,170,245),  rgb(77,122,177)) repeat-x !important; */
    background: transparent;
}
.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-tab:not([selected='true']) * {
    background-color: transparent !important;
    /* background: -moz-linear-gradient(top,  #dddddd,  #bbbbbb) repeat-x !important; */
    background: transparent;
}

.tabbrowser-tabs[treestyletab-mode="vertical"] .tabbrowser-tab:not([pinned="true"]) {
    /* May be a bit faster? */
    /* Nope; ignored. */
    box-shadow: none;
}

.tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab, .tabbrowser-tabs:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab:not([selected="true"]) {
    /* Nope */
    /*
    border-top: 4px solid green;
    border-bottom: 4px solid red;
    */
}

